.headcol {
  box-shadow: #FBAEAE 0px 2px 4px 0px;
}

.identitas{
  font-weight:bolder;
  font-size: 23px;
  color: #E41C1F;
}

.imgChiprek {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textHome {
  font-weight: bold;
}

.loading {
  position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 200;
}

.cardMenu{
  box-shadow: #3D3B40 0px 2px 4px 0px;
  border: #000000 1px solid;
  border-radius: 10px;
  background-color: #FBAEAE;
}

.imgMenu{
  object-fit: fill;
  border-radius: 10px;
}

.hargaMenu{
  font-weight: bold;
  font-size: 14px;
}

.imgModal{
  border-radius: 20px;
}

.namaMenuModal{
  font-weight: bold;
  text-align: center;
}

.hargaMenuModal{
  font-weight: bold;
  color: #E41C1F;
  text-align: center;
}

.quantityModal{
  font-weight: bold;
  text-align: center;
  width: 30%
}

.textKeranjang{
  font-size: 18px;
}

.membayar{
  display: flex;
  align-items:center;
  justify-content: space-between;
  font-size: medium;
}

.keranjang{
  display: flex;
  align-items:center;
  justify-content: start;
}

.detailPesanan{
  font-weight: bold;
  font-size: medium;
}